/*_-------------------- 페이징 처리 ----------------------- */


#Pagination_paging_ul {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.Pagination_paging_li {
    width: 30px;
    text-align: center;
    margin: 0 5px;
    font-size: 15px;
}

.Pagination_paging_li:hover {
    font-weight: bold;
    font-size: large;
    transform: scale(1.3);
    cursor: pointer;
}

.Pagination_paging_btn{
    all: unset;
}
.Pagination_paging_li button:hover{
    cursor: pointer;
}

