.BoardshoppingLi_full_screen {
    margin: 0;
    padding: 0;
    margin-top: 225px;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    list-style: none;


}


/* --------------베너---------------- */

.BoardshoppingLi_Benner_list {
    height: 200px;
    width: 100%;
    max-width: 1330px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.BoardshoppingLi_Benner_title {

    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.BoardshoppingLi_Benner_list h2 {
    font-size: 50px;
}

/* ----------  컨테이너-------------------- */


.BoardshoppingLi_container {

    display: flex;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 50px;
}

/* board */
a {
    text-decoration: none;
    color: inherit;
}


.BoardshoppingLi_board_list_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(325px *4);
    margin: 0 auto;
    gap: 0;
    padding: 0 15px 0 15px;
    justify-content: left;

}


.Pagination_paging {
    width: 1300px;
    height: 100px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: flex;

}

