/* -------------------sns_container---------------- */
.ProfileTags_container{

    width: 1280px;
    margin: 0 auto;
    padding: 0; 
    display: flex;

}
.ProfileTags_list_body {

    width: 100%;
    max-width: 1280px;
    gap: 20px; /* 각 아이템 사이의 간격 */
    margin: 0 auto;
    padding: 0;
    list-style: none; /* 기본 리스트 스타일 제거 */
    display: flex;
    flex-wrap: wrap; 

}

/* ----태그상품 없을 시 나오는 메세지. */
.ProfileTags_private_account_message{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* ----------------------------------- */
.ProfileTags_list_item {
    width: 280px;
    height: 360px;
    list-style: none; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.ProfileTags_list_item:hover {
    cursor: pointer;
}

.ProfileTags_list_item_img img {
    width: 260px;
    height: 260px;
    object-fit: contain;
    border-radius: 20px;
    
}

/* -------------------리뷰 리스트 --------------- */

.ProfileTags_content {
    width: 90%;
    height: 80px;
    padding: 0;
    overflow: hidden;

}

.ProfileTags_title {
    width: 100%;
    padding: 0;
    height: 80px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.ProfileTags_title_id {
    height: 80px;
    font-size: 12px;
}   

