.QnACreate_container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }

  .QnACreate_container h2 {
    text-align: center; /* 중앙 정렬 */
    margin-bottom: 40px; /* 아래로 40px 마진 */
  }
  
  .QnACreate_product_info {
    width: 80%;
    height: 150px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    display: flex;
  }
  /* --------------상품 이미지 및 상품명 , 가격 --------------*/
  .QnACreate_product_image {
    width: 150px;
    height: 150px;

  }

  .QnACreate_product_details {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  .QnACreate_product_title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .QnACreate_product_price {
    font-size: 16px;
    color: #555;
  }
  
  /* 질문  */
  .QnACreate_comment_section {
    width: 80%;
    padding-top: 20px;
  }
  .QnACreate_comment_form {
    display: flex;
    flex-direction: column;
  }
  /* 제목 */
  .QnACreate_tilte_box{
    width: 100%;
    height: 50px;
    display: flex;

  }

  .QnACreate_title{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
  }

  .QnACreate_form_group {
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  
  
  .QnACreate_form_group input {
    width: 100%;
    padding: 8px;
    height: 50px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 10px;
  }
  /* 내용 */
  .QnACreate_textarea_box{
    width: 100%;
    height: 300px;
    padding-top: 20px;
  }
  
  .QnACreate_comment_textarea {

    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none; 

  }
  
  .QnACreate_button_container {
    display: flex;
    justify-content: space-between; /* 버튼을 양쪽으로 배치 */
    align-items: center;
    padding-top: 20px;
}

.QnACreate_list_button {
    padding: 10px 30px;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

.QnACreate_list_button:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}

.QnACreate_right_buttons {
    display: flex;
    gap: 10px; /* 버튼 간 간격 */
}

.QnACreate_submit_button {
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.QnACreate_submit_button:hover {
    background-color: #555;
}

.QnACreate_cancel_button {
    padding: 10px 30px;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

.QnACreate_cancel_button:hover {
    background-color: #f0f0f0;
}