/* Google Fonts - Jost */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

/* Pretendard CDN */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


.MyPageModifyOauthMember_form_wrap {
    margin: 0 auto;
    padding: 0;
    width: 1280px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

  }
 .MyPageModifyOauthMember_content{

    width: 1280px; 
    margin: 0 auto; 
    display: flex; 
    align-items: center;



  }
  
.MyPageModifyOauthMember_secondmenu {
  width: 1080px;
    text-align: left;
 
  }

  .MyPageModifyOauthMember_Title{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .MyPageModifyOauthMember_Title h2{
    height: 1px;
  }
  .MyPageModifyOauthMember_Title p {
    font-size: 15px;
    text-align: end;
  }
  /* 전체 폼 */
  .MyPageModifyOauthMember_form_Body{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;


  }
.MyPageModifyOauthMember_form_row {
    width: 95%;
    height: 50px;
    display: flex; 
    align-items: center; 
    gap: 10px;

  }
  
.MyPageModifyOauthMember_form_row label {
    width: 20%;
    font-weight: bold;
    font-size: 20px;


  }

.MyPageModifyOauthMember_form_row input[type="text"] {
    font-size: 13px;
    width: 250px;
    flex: 0 0 auto; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.MyPageModifyOauthMember_form_row input[type="password"] {
    width: 360px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -moz-user-select: none; /* Firefox 지원 */
  }
  
.MyPageModifyOauthMember_form_row input[type="button"] {
    padding: 8px 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.MyPageModifyOauthMember_form_row input[type="button"]:hover {
    background-color: #555;
  }
  
.MyPageModifyOauthMember_form_row button {
    padding: 8px 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.MyPageModifyOauthMember_form_row button:hover {
    background-color: #555;
  }
  
  .MyPageModifyOauthMember_form_wrap ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding: 0;
  }
  
  .MyPageModifyOauthMember_form_wrap li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    color: #757575;
  }
  
  /* select 요소 스타일 */
.MyPageModifyOauthMember_form_row select {
    
    padding: 8px; /* input과 동일한 패딩 */
    border: 1px solid #ccc; /* input과 동일한 테두리 */
    border-radius: 4px; /* input과 동일한 테두리 반경 */
    font-size: 16px; /* input과 동일한 폰트 크기 */
  }
  
  
.MyPageModifyOauthMember_join-button {
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
.MyPageModifyOauthMember_join-button:hover {
    background-color: #555;
  }
  
  .MyPageModifyOauthMember_form_wrap #email1, #email2{
    background-color: #999;
    flex: 0.1 !important;
  }

  .MyPageModifyOauthMember_register {
    margin-top: 20px;
    padding: 8px 12px;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }









  /* --왼쪽 네비 css 추후에 css 정리하면서 navi에 ㅊ합쳐야함 */
  /* 왼쪽 메뉴 스타일 */
.MyPageModifyOauthMember_form_wrap .manuwrap {
  width: 200px; /* 고정 너비 */
  font-size: 16px; /* 글씨 크기 */
  line-height: 1.8; /* 행간 */
  background-color: #ffffff; /* 배경색 */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.MyPageModifyOauthMember_form_wrap .manuwrap h3{
  font-size: 18px;
  font-weight: bold;
}

.MyPageModifyOauthMember_form_wrap .manuwrap article{
  line-height: 1,5;
}

.MyPageModifyOauthMember_form_wrap .manuwrap article ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 5px;
}

.MyPageModifyOauthMember_form_wrap article h4{
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 20px;
}

.MyPageModifyOauthMember_form_wrap .manuwrap article ul li a{
  color: var(--font-color-gray);
}
