.admindeliverysection {
  width: 1280px;
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  font-family: 'SpoqaHanSansNeo-Regular';
}

.admindeliverysection .info {
  width: 1024px;
  margin: 64px 10px 0 0;
}


.admindeliverysection .content-name {
  color: rgb(24, 26, 28);
  height: 44px;
  letter-spacing: -0.4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  display: flex;
  align-items: center;
}

.admindeliverysection hr {
  border-color: rgb(231, 231, 231, 0.3);
  background: rgb(231, 231, 231, 0.3);
  height: 1px;
}


.admindeliverysection h2 {
  color: #333;
}

.admindeliverysection thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.admindeliverysection table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.admindeliverysection tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.admindeliverysection th {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 10px 16px;
}

.admindeliverysection td {
  text-align: center;
  border-bottom: 1px solid #666;
  padding: 15px 10px 16px;
}

.admindeliverysection .empty {
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  font-size: 12px;
  height: 150px;
  line-height: 150px;
  padding: 0;
  color: var(--font-color-gray);
  font-weight: normal;
  text-align: center;
}

.admindeliverysection .typelist {
  margin-bottom: 100px;
}




.admindeliverysection select {
  width: 140px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 3px 0 10px 0;
  text-align: left;
}