.modifyproductsection {
  width: 1280px;
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  font-family: 'SpoqaHanSansNeo-Regular';
}

.modifyproductsection .list {
  width: 182px;
  margin: 64px 0 0 20px;
  border: 1px solid #111;
}

.modifyproductsection .name {
  padding-left: 5px;
  height: 52px;
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: rgb(248, 248, 248);
  border-bottom: 1px solid #111;
  background-repeat: no-repeat;
  background-size: 36% 0.5em;
  background-position: 13% 69%;
}

.modifyproductsection .detail-list {
  padding: 14px 16px 15px 0px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}

.modifyproductsection .detail-select {
  padding: 14px 16px 15px;
  border-bottom: 1px solid #111;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: underline;
}

.modifyproductsection .order .member .item {
  font-size: 15px;
  font-weight: bold;
}


.modifyproductsection .detail-noselect {
  padding: 14px 16px 15px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #111;
}

.modifyproductsection .detail div:hover {
  background-color: #F3F5F7;
}

.modifyproductsection .info {
  width: 1024px;
  margin: 64px 10px 0 0;
}


.modifyproductsection .content-name {
  color: rgb(24, 26, 28);
  height: 44px;
  letter-spacing: -0.4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  display: flex;
  align-items: center;
}

.modifyproductsection hr {
  border-color: rgb(231, 231, 231, 0.3);
  background: rgb(231, 231, 231, 0.3);
  height: 1px;
}


.modifyproductsection h2 {
  color: #333;
}

.modifyproductsection thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.modifyproductsection table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.modifyproductsection tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.modifyproductsection th {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 10px 16px;
}

.modifyproductsection td {
  text-align: center;
  border-bottom: 1px solid #666;
  padding: 15px 10px 16px;
}

.modifyproductsection .empty {
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  font-size: 12px;
  height: 150px;
  line-height: 150px;
  padding: 0;
  color: var(--font-color-gray);
  font-weight: normal;
  text-align: center;
}

.modifyproductsection .typelist {
  margin-bottom: 100px;
}


/* 모달 스타일 */
.modifyproductsection .modal {
  display: none;
  /* 처음에는 숨겨짐 */
  position: fixed;
  /* 고정된 위치 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 반투명 배경 */
  justify-content: center;
  /* 세로로 중앙 정렬 */
  align-items: center;
  /* 가로로 중앙 정렬 */
  display: flex;
  /* flexbox 활성화 */
  z-index: 1000;
  /* 다른 요소들 위에 표시 */
}

/* 모달 내용 */
.modifyproductsection .modal-content {
  background-color: #fff;
  width:607px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* 그림자 효과 */
  overflow: scroll;
  height: 800px;
}

/* 탭 스타일 */
.modifyproductsection .tabs {
  width: 550px;
  background-color: #ddd;
  text-align: center;
  font-size: 32px;
}

.modifyproductsection .tab-link {
  width: 600px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.modifyproductsection .tab-link.active {
  background-color: #ddd;
}

/* 페이지 스타일 */
.modifyproductsection .page {
  display: none;
}

.modifyproductsection .page.active {
  display: block;
}


.modifyproductsection article {
  width: 550px;
  display: block;
  height: auto;

}

.modifyproductsection .selectcategory {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  justify-content: center;
}

.modifyproductsection .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.modifyproductsection .form-group input[type="text"],
.modifyproductsection .form-group input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.modifyproductsection .image-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modifyproductsection .image-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modifyproductsection .image-list li input[type="file"] {
  flex-grow: 1;
  margin-right: 10px;
}

.modifyproductsection .rep-img-label {
  font-weight: bold;
  color: green;
  font-size: 12px;
  background-color: #e0f7e0;
  padding: 3px 5px;
  border-radius: 3px;
  margin-right: 10px;
}

.modifyproductsection .add-image-btn,
.modifyproductsection .remove-image-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
}

.modifyproductsection .add-image-btn:hover {
  background-color: #47C83E;
}


.modifyproductsection .remove-image-btn {
  background-color: red;
}

.modifyproductsection .remove-image-btn:disabled {
  background-color: red;
  /* 여전히 빨간색을 유지 */
  cursor: not-allowed;
  /* 사용 금지 상태 커서 */
  opacity: 0.6;
  /* 비활성화 상태 표시 */
}

.modifyproductsection button[type="submit"] {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px
}

.modifyproductsection button[type="submit"]:hover {
  background-color: #007bb5;
}

.modifyproductsection .error-message {
  color: red;
  font-size: 14px;
}

.modifyproductsection .categoryselect {
  display: flex;
  justify-content: space-around;

}

.modifyproductsection .mainselect,
.modifyproductsection .subselect {
  width: 250px;
}



.modifyproductsection select {
  width: 220px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 3px 0 10px 0;
  text-align: left;
}