.Registproduct_section {
  width: 1280px;
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  font-family: 'SpoqaHanSansNeo-Regular';

}

.Registproduct_info{
  width: 1024px;
  margin: 64px 10px 0 0;
}
.Registproduct_content-name {
  color: rgb(24, 26, 28);
  height: 44px;
  letter-spacing: -0.4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  display: flex;
  align-items: center;
}

.Registproduct_section hr {
  border-color: rgb(231, 231, 231, 0.3);
  background: rgb(231, 231, 231, 0.3);
  height: 1px;
}


.Registproduct_section h2 {
  color: #333;
}

.Registproduct_categoryselect{
  display: flex;
}

.Registproduct_mainselect,
.Registproduct_subselect{
width: 412px;
}



.Registproduct_section select{
  width: 220px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 3px 0 10px 0;
  text-align:left;
}
.Registproduct_category{
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 7px;
}

.Registproduct_form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.Registproduct_form-group input[type="text"],
.Registproduct_form-group input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.Registproduct_image-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Registproduct_image-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Registproduct_image-list li input[type="file"] {
  flex-grow: 1;
  margin-right: 10px;
}

.Registproduct_rep-img-label {
  font-weight: bold;
  color: green;
  font-size: 12px;
  background-color: #e0f7e0;
  padding: 3px 5px;
  border-radius: 3px;
  margin-right: 10px;
}

.Registproduct_add-image-btn,
.Registproduct_remove-image-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
}

.aRegistproduct_dd-image-btn:hover{
  background-color: #47C83E;
}


.Registproduct_remove-image-btn {
  background-color: red;
}

.Registproduct_remove-image-btn:disabled {
  background-color: red; /* 여전히 빨간색을 유지 */
  cursor: not-allowed;  /* 사용 금지 상태 커서 */
  opacity: 0.6;         /* 비활성화 상태 표시 */
}

.Registproduct_section button[type="submit"] {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px
}

.Registproduct_section button[type="submit"]:hover {
  background-color: #007bb5;
}

.Registproduct_section .error-message {
  color: red;
  font-size: 14px;
}