@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

header {
  position: fixed;
  /* 헤더를 고정 */
  top: 0;
  /* 화면의 최상단에 위치 */
  left: 0;
  /* 화면의 가장 왼쪽에 위치 */
  width: 100%;
  /* 화면 너비 전체를 차지 */
  z-index: 1000;
  /* 다른 요소보다 위에 표시되도록 z-index 설정 */
  background-color: white;
  /* 배경색 설정 (필요시 조정) */
  display: flex;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
}

header img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.headerContainer {
  width: 1360px;
  margin-top: 20px;
}

/* 메인 컨테이너 */
.headerMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
}

/* 왼쪽 로고 */
.left {
  display: flex;
  align-items: center;
  margin-left: 10px;
}


/* search 양식 */
.headerContainer .TotalSearchHead_search {
  width: 100%;
  height: 50px;
  padding-bottom: 50px;
  display: flex;
  padding-top: 50px;
  justify-content: center;


}

.headerContainer  .TotalSearchHead_search_container {
  width: 300px;
  height: 50px;
  padding-bottom: 50px;
  transform: translateY(-19px);
  justify-content: center;
}

.headerContainer  .TotalSearchHead_search_input {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 40px;
  padding: 8px 20px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 16px;
  line-height: 22px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.headerContainer  .TotalSearchHead_search_input::placeholder {
  color: rgba(87, 87, 86, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 20px;
}

.headerContainer  .TotalSearchHead_search_input:hover,
.headerContainer  .TotalSearchHead_search_input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}


/* 오른쪽 버튼 */
.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  width: 70px;
  white-space: nowrap;
}

.right a img {
  width: 28px;
  height: 28px;
}

.right a span {
  font-size: 17px;
  margin-top: 6px;
  overflow-x: auto;
  /* 화면이 작아져도 스크롤 가능 */
  white-space: nowrap;
  /* 줄바꿈 방지 */
  display: flex;
  align-items: center;
  font-weight: 400;
  font-style: normal;
  font-family: "Noto Sans KR", sans-serif;
}

/* 카테고리 스타일 */


.headerNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 1360px;
}

.category {
  display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  /* 줄바꿈 방지 */

}



.category img {
  width: 28px;
  height: 28px;
}

.category span {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 27px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

#category {
  width: 100px;
  display: flex;
}

.category li {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 23px;

  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
  margin-right: 10px;
  list-style: none;
}

.category li a img {
  transform: translateY(5.3px);
  width: 28px;
  height: 28px;
}

.communitysection a {
  margin-left: 30px;
  margin-right: 3px;
  font-family: "Noto Sans KR", sans-serif;

  font-size: 23px;
}


.hasChild {
  position: relative;
  /* submenu의 기준점 */
}

.categorypond a {
  position: relative;
  /* submenu의 기준점 */
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}

.haschild:hover .submenu1 {
  opacity: 1;
  visibility: visible;
}


#aaa {
  position: relative;
  /* 기준점 설정 */
}

.submenu1 {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 200;
  background: #fff;
  padding: 10px 0;
  white-space: nowrap;
  min-width: 140px;
  margin-top: 10px;
}

.a1 {
  transform: translateX(-280px);
  /* 필요에 따라 미세 조정 */
}

.a2 {
  transform: translateX(-430px);
  /* 필요에 따라 미세 조정 */
}

.a3 {
  transform: translateX(-333px);
  /* 필요에 따라 미세 조정 */
}

.a4 {
  transform: translateX(-400px);
  /* 필요에 따라 미세 조정 */
}

.a5 {
  transform: translateX(-488px);
  /* 필요에 따라 미세 조정 */
}


.categorycircle img {
  transform: translateY(0px) !important;
  width: 95px !important;
  height: 95px !important;
  object-fit: scale-down;
}

.categorycircle {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  /* background-color: #999; */
  overflow: hidden;
}

.category-link {
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

.category-link.active {
  font-weight: bold;
}