.CheckoutPageAddress_Form {
  width: 900px;

    margin: 0 auto;
    padding: 0;

    padding-bottom: 20px;
}

.CheckoutPageAddress_Head{
  width: 100%;
  height: 90px;
  margin-top: 5px;
}
.CheckoutPageAddress_Head h3{
  font-size: 20px;
}

.CheckoutPageAddress_address_actions {
  width: 100%;
  height: 50px;
  display: flex; 
}

.CheckoutPageAddress_address_actions button {
  width: calc(33.33% - 2px); 
  height: 40px;
  background-color: inherit;
  border: 1px solid transparent; 
  font-size: 14px;
  transition: font-size 0.3s ease, border-color 0.3s ease; 
}

.CheckoutPageAddress_address_actions button:hover {
  cursor: pointer;
}

.CheckoutPageAddress_address_actions button:active {
  font-size: 16px; 
}

.CheckoutPageAddress_address_actions button:not(:last-child) {
  border-right: 1px solid #ccc; 
}

.CheckoutPageAddress_address_actions button:focus {
  font-size: 16px; 
  border-color: #ccc; 
  border-radius: 10px;
  
}

/* 등록된 주소  */
.CheckoutPageAddress_Registered_Add h4{
  font-size: 16px;
}
.CheckoutPageAddress_Registered_Select{
  width: 100%;
  height: 50px;
  font-size: 13px;
  border-radius: 10px;
}

/* 새로운 주소 */
.CheckoutPageAddress_New_Add h4{
  font-size: 16px;
}
.CheckoutPageAddress_New_Box_01{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.CheckoutPageAddress_New_input {
  width: 50%;
  height: 40px;

}
.CheckoutPageAddress_New_button {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  margin-left: 10px;
}
.CheckoutPageAddress_New_button:hover{
  cursor: pointer;
}
.CheckoutPageAddress_New_Box_02{
  width: 100%;
  height: 100px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.CheckoutPageAddress_New_TextBox{
  width: 100%;
  height: 40px;

}

/* 주소삭제 */
.CheckoutPageAddress_Delete_Add h4{
  font-size: 16px;
}
.CheckoutPageAddress_Delete_Select{
  width: 80%;
  height: 50px;
  font-size: 13px;
  border-radius: 10px;
}
.CheckoutPageAddress_Delete_Button{
  width: 50px;
  height: 35px;
  border-radius: 10px;
  margin-left: 10px;
}
.CheckoutPageAddress_Delete_Button:hover{
  cursor: pointer;
  background-color: red;
}